<!DOCTYPE html>
<html layout:decorate="~{layout-admin}">
<head>
  <meta charset="UTF-8">
</head>
<body>
    <div layout:fragment="corpo">
        <i class="fa-solid fa-play"></i><span> Usuários</span>

        <a th:href="@{/admin/usuarios}" class="btn btn-primary" style="float: right;"><i class="fa-solid fa-list"></i> Listar usuários</a>

        <div class="container-fluid content">

            <div th:if="${usuario.id} == null" class="text-center">
                <h3>Criar novo usuário</h3>
            </div>

            <div class="container">
                <div th:replace="~{fragments/alert}"></div>
            </div>
        
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-10">
                        <form method="post" th:action="${usuario.id} != null ? @{/admin/usuarios/editar} : @{/admin/usuarios/cadastrar}" th:object="${usuario}">

                            <!-- <div th:replace="~{fragments/validacao}"></div> -->
                        
                            <div class="form-group padding-bottom">
                                <label>Nome</label>
                                <input type="text" class="form-control" name="nome" th:field="*{nome}" placeholder="Nome usuário" th:classappend="${#fields.hasErrors('nome')} ? 'is-invalid'">
                                <div class="invalid-feedback">
                                    <span th:errors="*{nome}"></span>
                                </div>
                            </div>
                            <div class="form form-group padding-bottom">
                                <label>Email</label>
                                <input type="email" class="form-control" name="username" th:field="*{username}" placeholder="Endereço de email"  th:classappend="${#fields.hasErrors('username')} ? 'is-invalid'">
                                <div class="invalid-feedback">
                                    <span th:errors="*{username}"></span>
                                </div>
                            </div>
                            <div class="form-group padding-bottom">
                                <label>Perfil</label>
                                <select name="role" th:field="*{role}" class="form-control"  th:classappend="${#fields.hasErrors('role')} ? 'is-invalid'">
                                    <option value="">Selecione</option>
                                    <option th:each="perfil : ${perfis}" th:value="${perfil}" th:text="${perfil.tipo}">Selecione</option>
                                </select>
                                <div class="invalid-feedback">
                                    <span th:errors="*{role}"></span>
                                </div>
                            </div>
                            <div th:if="${usuario.id} == null" class="form-group padding-bottom">
                                <label>Senha</label>
                                <input type="password" class="form-control" name="password" th:field="*{password}" placeholder="Senha" h:classappend="${#fields.hasErrors('password')} ? 'is-invalid">
                                <div class="invalid-feedback">
                                    <span th:errors="*{password}"></span>
                                </div>
                            </div>
                            <div th:else>
                                <input type="hidden" name="password" th:field="*{password}" th:value="${usuario.password}">
                            </div>
                                <input type="hidden" name="id" th:field="*{id}">
                                <input type="submit" class="btn btn-primary btn-submit" value="Confirmar">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <form method="post" th:action="${covid.id} != null ? @{/admin/covid/editar} : @{/admin/covid/cadastrar}" th:object="${covid}" class="padding-bottom">
                <div class="form-group padding-bottom">
                    <label>Local</label>
                    <select name="local" th:field="*{local}" class="form-control" th:classappend="${#fields.hasErrors('local')} ? 'is-invalid'">
                        <option value="">Selecione</option>
                        <option th:each="local : ${locais}" th:value="${local}" th:text="${local.descricao}">Selecione</option>
                    </select>
                    <div class="invalid-feedback">
                        <span th:errors="*{local}"></span>
                    </div>
                </div>
                <div class="row padding-bottom">
                    <div class="form-group col-md-6">
                        <label>Número de casos</label>
                        <input type="number" class="form-control" name="casos" th:field="*{qtCasos}" placeholder="Quantidade de casos" th:classappend="${#fields.hasErrors('qtCasos')} ? 'is-invalid'">
                        <div class="invalid-feedback">
                            <span th:errors="*{qtCasos}"></span>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Número de óbitos</label>
                        <input type="number" class="form-control" name="obitos" th:field="*{qtObitos}" placeholder="Quantidade de óbitos" th:classappend="${#fields.hasErrors('qtObitos')} ? 'is-invalid'">
                        <div class="invalid-feedback">
                            <span th:errors="*{qtObitos}"></span>
                        </div>
                    </div>
                </div>
                <div th:if="${covid.id} == null" class="form-group padding-bottom">
                    <label>Semana</label>
                    <input type="number" class="form-control" name="semana" th:field="*{semana}" placeholder="Semana do registro"  th:classappend="${#fields.hasErrors('semana')} ? 'is-invalid'">
                    <div class="invalid-feedback">
                        <span th:errors="*{semana}"></span>
                    </div>
                </div>
                <div th:else>
                    <input type="hidden" name="semana" th:field="*{semana}" th:value="${covid.semana}">
                </div>
                    <input type="hidden" name="id" th:field="*{id}">
                    <input type="submit" class="btn btn-primary btn-submit" value="Confirmar">
            </form>
        </div>
    </div>
</div>

<form method="post" th:action="${usuario.id} != null ? @{/admin/usuarios/editar} : @{/admin/usuarios/cadastrar}" th:object="${usuario}">

    <!-- <div th:replace="~{fragments/validacao}"></div> -->

    <div class="form-group col-md-6 padding-bottom">
        <label>Nome</label>
        <input type="text" class="form-control" name="nome" th:field="*{nome}" placeholder="Nome usuário" th:classappend="${#fields.hasErrors('nome')} ? 'is-invalid'">
        <div class="invalid-feedback">
            <span th:errors="*{nome}"></span>
        </div>
    </div>
    <div class="form form-group col-md-6 padding-bottom">
        <label>Email</label>
        <input type="email" class="form-control" name="username" th:field="*{username}" placeholder="Endereço de email"  th:classappend="${#fields.hasErrors('username')} ? 'is-invalid'">
        <div class="invalid-feedback">
            <span th:errors="*{username}"></span>
        </div>
    </div>
    <div class="form-group col-md-6 padding-bottom">
        <label>Perfil</label>
        <select name="role" th:field="*{role}" class="form-control"  th:classappend="${#fields.hasErrors('role')} ? 'is-invalid'">
            <option value="">Selecione</option>
            <option th:each="perfil : ${perfis}" th:value="${perfil}" th:text="${perfil.tipo}">Selecione</option>
        </select>
        <div class="invalid-feedback">
            <span th:errors="*{role}"></span>
        </div>
    </div>
    <div th:if="${usuario.id} == null" class="form-group col-md-6 padding-bottom">
        <label>Senha</label>
        <input type="password" class="form-control" name="password" th:field="*{password}" placeholder="Senha" h:classappend="${#fields.hasErrors('password')} ? 'is-invalid">
        <div class="invalid-feedback">
            <span th:errors="*{password}"></span>
        </div>
    </div>
    <div th:else>
        <input type="hidden" name="password" th:field="*{password}" th:value="${usuario.password}">
    </div>
        <input type="hidden" name="id" th:field="*{id}">
        <input type="submit" class="btn btn-primary btn-submit" value="Confirmar">
</form>