<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
  <meta charset="UTF-8">
</head>
<body>
    <div layout:fragment="corpo">
        <div class="local-pagina">
            <i class="fa-solid fa-play"></i> <span class="fw-bold">Dashboard</span>
        </div>
        <div class="container-fluid content">

            <div class="row space-bottom">
                <div class="col-md-6">
                    <canvas id="myChartCasos"></canvas>
                </div>
                <div class="col-md-6 text-center" style="font-size: 20px;">
                    <span>Total de casos: </span><span th:text="${totalCasos}"></span>
                    <ol class="list-group list-group-numbered">
                        <li th:each="index : ${#numbers.sequence(0, locais.size() - 1)}" class="list-group-item d-flex justify-content-between align-items-start">
                          <div class="ms-2 me-auto">
                            <div><span class="local-text" th:text="${locais[index]}"></span></div>
                          </div>
                          <span class="badge" th:text="|${casos[index]} casos|"></span>
                        </li>
                    </ol>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <canvas id="myChartObitos"></canvas>
                </div>
                <div class="col-md-6 text-center" style="font-size: 20px;">
                    <span>Total de óbitos: </span><span th:text="${totalObitos}"></span>
                    <ol class="list-group list-group-numbered">
                        <li th:each="index : ${#numbers.sequence(0, locais.size() - 1)}" class="list-group-item d-flex justify-content-between align-items-start">
                          <div class="ms-2 me-auto">
                            <div><span class="local-text" th:text="${locais[index]}"></span></div>
                          </div>
                          <span class="badge" th:text="|${obitos[index]} óbitos|"></span>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script th:inline="javascript">
            var casos = /*[[${casos}]]*/ [];
            var obitos = /*[[${obitos}]]*/ [];
            var locais = /*[[${locais}]]*/ [];

            function createChart(data, id) {
                // Configurações do gráfico
                const config = {
                    type: 'bar',
                    data: data,
                    options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                        }
                    },
                };
    
                // Criar o gráfico
                var myChart = new Chart(
                    id,
                    config
                );
            }

            const dataCasos = {
                labels: locais,
                datasets: [{
                    label: 'Total de casos por local',
                    data: casos,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)'
                    ],
                    borderWidth: 1
                }]
            };

            const dataObitos = {
                labels: locais,
                datasets: [{
                    label: 'Total de óbitos por local',
                    data: obitos,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)'
                    ],
                    borderWidth: 1
                }]
            };
    
            createChart(dataCasos, document.getElementById('myChartCasos'));
            createChart(dataObitos, document.getElementById('myChartObitos'));

        </script>
    </div>

</body>
</html>
    