<!-- Modal -->
<div class="modal fade" th:id="|deleteUsuario-${u.id}|" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" th:fragment="usuario">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Apagar usuário</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Deseja realmente deletar esse usuário?
      </div>
      <div class="modal-footer">
        <form th:action="@{/admin/usuarios/deletar}" method="post">
          <input type="hidden" name="id" id="id" th:value="${u.id}">
          <input type="submit" class="btn btn-danger" value="Deletar">
        </form>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" th:id="|deleteCovid-${c.id}|" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" th:fragment="covid">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" th:text="|${c.local.descricao} - Semana ${c.semana}|">Apagar registro</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Deseja realmente deletar esse registro?
      </div>
      <div class="modal-footer">
        <form th:action="@{/admin/covid/deletar}" method="post">
          <input type="hidden" name="id" id="id" th:value="${c.id}">
          <input type="submit" class="btn btn-danger" value="Deletar">
        </form>
      </div>
    </div>
  </div>
</div>