<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Roboto" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <title>Covid - dados</title>
    <style>
        .nav{
            height: 83vh;
        }

        .borda {
            border: 1px solid gray;
            width: 450px;
            margin: auto;
            margin-top: 150px;
        }

    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <nav th:replace="~{fragments/header :: cabecalho}">
                <div>Header</div>
            </nav>

            <!-- <div th:replace="~{fragments/sidebar :: sidebar}">
                <div>Sidebar</div>
            </div>
            
            <div class="col-lg-10 col-sm-9 py-1">
                <div layout:fragment="corpo">
                    <div>Conteúdo principal</div>
                </div>
            </div> -->
            <div>
                <div layout:fragment="corpo">
                    <div>Conteúdo principal</div>
                </div>
            </div>
        </div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/75374810bc.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/js/index.js"></script>
    <script src="/js/script.js"></script>

    

</body>
</html>